<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Secondnet</a></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
    </ul>
    <!-- Left Nav Section -->
    <ul class="left">
      <li><%= link_to 'Add new product', new_product_path %></li>
    </ul>
  </section>
</nav>
<main>
<div class="row">
  <div class="large-8 columns">
    <div class="callout panel">
      <% if @products.any? %>
      <% @products.each do |product| %>
      <h2> <%= product.title %> </h2>
      <p><%= link_to "Edit", edit_product_path(product.id) %></p>
      <p><%= link_to "Delete", product_path(product.id), method: :delete %></p>
      <% end %>
      <% else %>
      <h2>There are no products in the system yet.</h2>
      <% end %>
    </div>
  </div>
</div>
</main>